h1 {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: #9942f1c7;
  font-family: monospace;
}

.wrapper {
  background-color: #fff;
  width: 600px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
}

.title {
  margin: 10px 5px 72px 5px;
  text-align: center;
}

.letters__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 14px 40px;
  font-size: 26px;
  text-align: center;
  margin: 0 10px;
  justify-content: center;
}

.letters__item {
  width: 24px;
  height: 24px;
  border-radius: 18%;
  border: 2px solid #000;
  padding: 5px;
}
