body {
  background-color: #9942f1c7;
  font-family: monospace;
  font-size: 26px;
}

ul,
button {
  margin: 0;
  padding: 0;
}

p,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  width: 600px;
  height: 400px;
  padding: 10px;
  background-color: #ffff;
  border-radius: 4%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__title {
  text-align: center;
  margin-top: 20px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  margin: 90px 10px 0 10px;
  justify-content: space-around;
}

.menu__link {
  border: 2px solid #000;
  padding: 12px;
  border-radius: 4%;
  background-color: #fff7fe;
  cursor: url(/assets/images/cursor_menu1.png), pointer;
}

.menu__link:not(:last-child) {
  margin-right: 10px;
}
